In [1]:
import sqlalchemy

In [2]:
sqlalchemy.create_engine('postgresql://postgres:JustForPostGres@localhost/FirstDB')

Engine(postgresql://postgres:***@localhost/FirstDB)

In [3]:
%load_ext sql

In [4]:
# Example format
%sql postgresql://postgres:JustForPostGres@localhost/FirstDB

In [11]:
# assign a variable that contains a string of your credentials
credentials = "postgresql://postgres:JustForPostGres@localhost/FirstDB"

In [13]:
%%sql 
select * from checkout

 * postgresql://postgres:***@localhost/FirstDB
5 rows affected.

[('Jignesh', 'Potato, Carrots, Turnips'),
 ('Susan', 'Sugar, Butter, Eggs, flour'),
 ('Sari', 'Hacksaw, Rope, Gravel'),
 ('Masaba', 'Eyeliner, Lotion, Turmeric paste'),
 ('Chris', 'Candles, Card')]

In [15]:
import pandas as pd
dataframe = pd.read_sql("""
            select * from checkout
            """, con = credentials)

In [16]:
dataframe

  customer                            orders
0  Jignesh          Potato, Carrots, Turnips
1    Susan        Sugar, Butter, Eggs, flour
2     Sari             Hacksaw, Rope, Gravel
3   Masaba  Eyeliner, Lotion, Turmeric paste
4    Chris                     Candles, Card